 //  ▄▄▄▄▄▄           ▄▄  
 // █▀██▀▀▀█▄        ██   
 //   ██▄▄▄█▀       ▄██▄▀▀
 //   ██▀▀█▄   ▄███▄ ██ ██
 // ▄ ██  ██   ██ ██ ██ ██
 // ▀██▀  ▀██▀▄▀███▀▄██▄██
 //                  ██   
 //                 ▀▀    

configuration {
	modes: "drun";
	display-drun: "Apps";
	font: "JetBrainsMono Nerd Font 12";
	fixed-num-lines: false;
	show-icons: true;
	terminal: "kitty";
	icon-theme: "Papirus-Dark";
	drun-display-format: "{name}";
	disable-history: true;
	sort: true;
}

@theme "/home/florian/.config/rofi/themes/koda-dark.conf"

